
#navbarNav{
    flex-grow: initial;
  }
    
.container-fluid {
    width: 99.5%;
    height: 99.5%;
    background: rgba(0, 206, 209, 0.59);
    margin: 0 0 0 0;
    border: 1px solid aqua;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px darkcyan;
    display: flex;
    justify-content:space-around;
  flex-wrap: wrap;
  align-items:center;
}

.background-image {
    background-image: url(images/Fond02.jpg);
    background-size: cover;
    background-position: center;
}

.filAriane {
    margin-top: 10px;
} 

.single-card-info a:link {
    color: white;
}

.single-card-info a:visited {
    color: white;
}

.single-card-info a:hover{
    color: rgba(0, 206, 209);
}

.single-card-info a:active {
    color: black;
}

.bg-greenblue {
    background-color:  rgba(0, 206, 209, 0.7);
}

.w-200 {
    width: 200px;
}

.blackopacity8 {
    background-color: rgba(0,0,0,.8);
    color: white;
}

.my-100 {
    margin-top: 100px;
}

.rareteRare {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50px;
    margin-left: 5px;
}

.toolbar {
justify-content: space-between;
align-items: center;
background-color: rgba(0,0,0,.8);
padding: 10px;
width: 200px;
margin-top: 100px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.toolbar a {
color: #212529;
text-decoration: none;
margin-right: 10px;
}

.toolbar a:last-child {
margin-right: 0;
}

.icon {
color: #212529;
text-decoration: none;
margin-right: 10px;
transition: all 0.2s ease-in-out;
}

.icon:hover {
transform: scale(1.2);
}

thead {
    background-color: rgba(0,0,0,.9); 
    color: white;
    height: 50px;
}

.container-fluid-footer {
    width: 99.5%;
    height: 99.5%;
    background: rgba(0, 206, 209, 0.59);
    margin: 0 auto;
    border: 1px solid aqua;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px darkcyan;
  }
